<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="ehcache-poc" packages="">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %-30c{1} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="com.guidewire.cache" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.guidewire.cache.artist.CacheListener" level="debug" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.guidewire.cache.artist.CacheHelper" level="debug" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.guidewire.cache.artist.CacheHelperTestCase" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.quidewire.db" level="debug" additivity="false" >
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>